<header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <ul class="menu">
        <li class="menu_li"><a href="/">Blog</a></li>
        <li class="menu_li"><a href="/recipes.html">Project</a></li>
        <li class="menu_li"><a href="/about.html">About</a></li>
        <li class="menu_li"><a href="/fun.html">Fun</a></li>
        <li class="menu_li"><a href="/stars.html">Stars</a></li>
    </ul>
</header>