<header class="page-header" role="banner">
    <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <ul class="menu">
        <li class="menu_li"><a href="https://www.owenll66.com/">Blog</a></li>
        <li class="menu_li"><a href="https://www.owenll66.com/project.html">Project</a></li>
        <li class="menu_li"><a href="https://www.owenll66.com/about.html">About</a></li>
        <li class="menu_li"><a href="https://www.owenll66.com/fun.html">Fun</a></li>
        <li class="menu_li"><a href="https://www.owenll66.com/stars.html">Stars</a></li>
    </ul>
</header>