@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  //background: linear-gradient(to bottom, #23D5AB, #23A6D5, #E73C7E, #EE7752);
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: $header-bg-color;
  background-color: rgba(120, 237, 208, 0.6);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: $header-bg-color;
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

@keyframes Gradient {
	0% {
		background-position: 0%
	}
	100% {
		background-position: 100%
	}
}

.page-header {
  color: $header-heading-color;
  text-align: left;
  //background: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  //animation: 1s ease-out 0s 1 sweepToRight;
  background: linear-gradient(-100deg, #23D5AB, #23A6D5, #E73C7E, #EE7752);
	animation: Gradient 3s ease-out;
  background-size:400% 400%;
  background-position: 100%;

  @include large {
    padding: 2.5rem 2.5rem;
    padding-bottom: 0rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }

}

.page-not-found{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  @include large {
    font-size: 2.75rem;
  }
  @include medium {
    font-size: 2.00rem;
  }

  @include small {
    font-size: 2.00rem;
  }
}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu_li{
  float:left;
}

li a
{
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  background-repeat: no-repeat;
  background-size: 100% 0;
  background-position: bottom left;
  transition: background-size 0.5s 0s;

  //transition: .5s ease;
  padding: 10px 10px;
  font-size: 20px;
  display: block;
  color:white;
}

li a:hover {
  background-size: 100% 100%;
  text-decoration: none;
}

.project-name {
  margin-top: 0;
  margin-bottom: 2 rem;
  margin-left: 10px;
  @include large {
    font-size: 1.75rem;
  }

  @include medium {
    font-size: 1.50rem;
  }

  @include small {
    font-size: 1.50rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.00rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  .post{
    @include large{

    }
    @include medium{

    }
    @include small{

    }
    margin: 0.5rem;
    padding: 1.5rem;
    background: rgba(208, 212, 219, 0.5);
  }

  kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
  }

  h1{
    color: #E73C7E;
  }
  h2{
    color: #24acc1;
  }
  h3{
    color: #33c68e;
  }
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: $section-headings-color;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}


/*style for the fun page*/
#star-background {
  height: 150%;
  background: radial-gradient(ellipse at bottom, #1b2735 20%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1007px 1962px #FFF , 398px 1820px #FFF , 159px 1271px #FFF , 1428px 1868px #FFF , 264px 1855px #FFF , 1696px 1506px #FFF , 791px 1014px #FFF , 1163px 1592px #FFF , 1450px 1581px #FFF , 347px 1433px #FFF , 16px 163px #FFF , 261px 927px #FFF , 1710px 504px #FFF , 1454px 1250px #FFF , 289px 233px #FFF , 6px 1792px #FFF , 835px 295px #FFF , 68px 1079px #FFF , 427px 1882px #FFF , 556px 1661px #FFF , 1483px 1994px #FFF , 810px 831px #FFF , 1458px 456px #FFF , 319px 1287px #FFF , 1048px 614px #FFF , 362px 1758px #FFF , 1622px 431px #FFF , 887px 659px #FFF , 1635px 1043px #FFF , 1615px 979px #FFF , 870px 1972px #FFF , 1687px 906px #FFF , 682px 1023px #FFF , 598px 1150px #FFF , 1666px 1433px #FFF , 46px 1078px #FFF , 1414px 485px #FFF , 850px 365px #FFF , 1441px 1940px #FFF , 1557px 1103px #FFF , 558px 1928px #FFF , 1309px 1014px #FFF , 99px 1391px #FFF , 1411px 1874px #FFF , 205px 1836px #FFF , 1069px 1191px #FFF , 1644px 522px #FFF , 133px 1241px #FFF , 1702px 197px #FFF , 307px 500px #FFF , 888px 586px #FFF , 903px 361px #FFF , 1428px 1963px #FFF , 1529px 1255px #FFF , 64px 1496px #FFF , 939px 658px #FFF , 1935px 601px #FFF , 734px 1146px #FFF , 844px 576px #FFF , 409px 1905px #FFF , 1626px 1627px #FFF , 1525px 472px #FFF , 1656px 1337px #FFF , 685px 377px #FFF , 183px 1011px #FFF , 546px 848px #FFF , 939px 275px #FFF , 547px 1891px #FFF , 1711px 577px #FFF , 1072px 1676px #FFF , 1948px 1461px #FFF , 1390px 177px #FFF , 1968px 133px #FFF , 303px 929px #FFF , 1068px 1072px #FFF , 934px 547px #FFF , 215px 1561px #FFF , 1549px 542px #FFF , 1399px 1443px #FFF , 104px 220px #FFF , 683px 744px #FFF , 1031px 1970px #FFF , 1168px 495px #FFF , 1223px 440px #FFF , 114px 1166px #FFF , 586px 1903px #FFF , 825px 283px #FFF , 177px 1899px #FFF , 326px 777px #FFF , 1582px 1266px #FFF , 1886px 769px #FFF , 448px 851px #FFF , 1103px 155px #FFF , 1031px 1819px #FFF , 1866px 1482px #FFF , 1248px 1099px #FFF , 1691px 1062px #FFF , 125px 1866px #FFF , 1885px 218px #FFF , 460px 891px #FFF , 879px 184px #FFF , 309px 852px #FFF , 1841px 738px #FFF , 1442px 1679px #FFF , 629px 560px #FFF , 1785px 857px #FFF , 220px 560px #FFF , 1220px 291px #FFF , 1637px 88px #FFF , 183px 163px #FFF , 460px 1804px #FFF , 776px 1137px #FFF , 26px 937px #FFF , 956px 704px #FFF , 339px 966px #FFF , 412px 1422px #FFF , 301px 535px #FFF , 1728px 358px #FFF , 1262px 767px #FFF , 1158px 1972px #FFF , 1580px 1748px #FFF , 201px 547px #FFF , 355px 1317px #FFF , 1041px 680px #FFF , 1385px 844px #FFF , 784px 369px #FFF , 1193px 636px #FFF , 1172px 1769px #FFF , 1941px 1637px #FFF , 399px 1682px #FFF , 1963px 979px #FFF , 371px 168px #FFF , 783px 1798px #FFF , 535px 1211px #FFF , 1160px 780px #FFF , 1135px 1143px #FFF , 153px 668px #FFF , 627px 1474px #FFF , 845px 1002px #FFF , 1527px 1425px #FFF , 1944px 1859px #FFF , 1226px 1341px #FFF , 254px 728px #FFF , 1334px 403px #FFF , 382px 1050px #FFF , 493px 531px #FFF , 826px 1969px #FFF , 566px 260px #FFF , 1718px 1383px #FFF , 725px 102px #FFF , 63px 847px #FFF , 1964px 1005px #FFF , 669px 1554px #FFF , 1777px 1214px #FFF , 1059px 328px #FFF , 187px 838px #FFF , 384px 1866px #FFF , 757px 985px #FFF , 1354px 103px #FFF , 673px 541px #FFF , 711px 1610px #FFF , 401px 72px #FFF , 1388px 1601px #FFF , 1125px 1434px #FFF , 1015px 871px #FFF , 786px 859px #FFF , 1393px 1808px #FFF , 510px 1116px #FFF , 1020px 426px #FFF , 621px 275px #FFF , 257px 161px #FFF , 1598px 1670px #FFF , 481px 196px #FFF , 393px 701px #FFF , 455px 1598px #FFF , 374px 1710px #FFF , 1409px 1719px #FFF , 1889px 1532px #FFF , 1188px 1797px #FFF , 848px 1901px #FFF , 1940px 1234px #FFF , 608px 318px #FFF , 771px 379px #FFF , 273px 354px #FFF , 1645px 882px #FFF , 119px 1751px #FFF , 1930px 226px #FFF , 826px 1381px #FFF , 8px 1362px #FFF , 183px 260px #FFF , 1449px 1244px #FFF , 732px 1444px #FFF , 1874px 1871px #FFF , 1501px 1702px #FFF , 1565px 283px #FFF , 1991px 1363px #FFF , 176px 1528px #FFF , 838px 1883px #FFF , 557px 133px #FFF , 596px 512px #FFF , 977px 1673px #FFF , 1289px 133px #FFF , 1799px 1901px #FFF , 498px 1401px #FFF , 1342px 1544px #FFF , 1193px 1489px #FFF , 1805px 616px #FFF , 1881px 1146px #FFF , 769px 1136px #FFF , 1825px 1267px #FFF , 1560px 1884px #FFF , 266px 3px #FFF , 1443px 374px #FFF , 733px 926px #FFF , 275px 155px #FFF , 379px 985px #FFF , 1839px 641px #FFF , 595px 616px #FFF , 199px 1326px #FFF , 1081px 747px #FFF , 673px 1102px #FFF , 260px 710px #FFF , 1059px 1526px #FFF , 835px 1098px #FFF , 1785px 423px #FFF , 1533px 1459px #FFF , 241px 320px #FFF , 1064px 1814px #FFF , 664px 75px #FFF , 1555px 668px #FFF , 1629px 1034px #FFF , 1187px 683px #FFF , 1757px 1737px #FFF , 220px 1806px #FFF , 410px 1592px #FFF , 662px 671px #FFF , 1331px 125px #FFF , 775px 11px #FFF , 1792px 1729px #FFF , 1492px 1489px #FFF , 1073px 1175px #FFF , 1927px 1613px #FFF , 54px 873px #FFF , 1692px 744px #FFF , 963px 1959px #FFF , 1971px 1818px #FFF , 1832px 1416px #FFF , 1139px 1436px #FFF , 729px 1225px #FFF , 64px 743px #FFF , 429px 1559px #FFF , 1297px 470px #FFF , 1438px 1738px #FFF , 1828px 1791px #FFF , 1663px 1659px #FFF , 1410px 39px #FFF , 1552px 706px #FFF , 1130px 1494px #FFF , 33px 370px #FFF , 425px 1758px #FFF , 1799px 180px #FFF , 1780px 91px #FFF , 1804px 213px #FFF , 415px 1923px #FFF , 624px 1066px #FFF , 18px 934px #FFF , 1252px 361px #FFF , 543px 1210px #FFF , 953px 318px #FFF , 1644px 802px #FFF , 1614px 670px #FFF , 1195px 247px #FFF , 925px 826px #FFF , 1838px 1825px #FFF , 1466px 526px #FFF , 421px 273px #FFF , 788px 39px #FFF , 1959px 511px #FFF , 955px 674px #FFF , 34px 1341px #FFF , 17px 124px #FFF , 1417px 1638px #FFF , 610px 1390px #FFF , 1334px 1669px #FFF , 1992px 677px #FFF , 736px 206px #FFF , 1920px 469px #FFF , 454px 1410px #FFF , 666px 1782px #FFF , 58px 1192px #FFF , 1868px 759px #FFF , 1797px 460px #FFF , 379px 1210px #FFF , 328px 1695px #FFF , 1895px 661px #FFF , 1987px 250px #FFF , 1237px 132px #FFF , 1811px 183px #FFF , 1797px 767px #FFF , 1336px 447px #FFF , 189px 1811px #FFF , 1424px 617px #FFF , 1236px 260px #FFF , 91px 1045px #FFF , 198px 908px #FFF , 1575px 662px #FFF , 1591px 815px #FFF , 1690px 277px #FFF , 633px 921px #FFF , 1743px 1258px #FFF , 912px 967px #FFF , 859px 19px #FFF , 1768px 1664px #FFF , 1129px 1772px #FFF , 1575px 1114px #FFF , 1271px 1953px #FFF , 1605px 275px #FFF , 1563px 1246px #FFF , 1411px 1243px #FFF , 1394px 741px #FFF , 289px 625px #FFF , 1268px 1935px #FFF , 1566px 1752px #FFF , 1036px 1880px #FFF , 199px 1145px #FFF , 1856px 995px #FFF , 1588px 521px #FFF , 1525px 1636px #FFF , 1972px 591px #FFF , 751px 1406px #FFF , 1719px 874px #FFF , 111px 101px #FFF , 684px 1802px #FFF , 1861px 1002px #FFF , 111px 1757px #FFF , 6px 197px #FFF , 764px 1448px #FFF , 1920px 588px #FFF , 1249px 1862px #FFF , 812px 1518px #FFF , 1141px 1036px #FFF , 1066px 1695px #FFF , 1192px 1252px #FFF , 84px 67px #FFF , 563px 469px #FFF , 1993px 289px #FFF , 1550px 1125px #FFF , 1423px 1970px #FFF , 213px 1327px #FFF , 1084px 1188px #FFF , 1823px 1153px #FFF , 912px 1885px #FFF , 361px 1688px #FFF , 1943px 1237px #FFF , 560px 1210px #FFF , 1097px 1485px #FFF , 1239px 1932px #FFF , 254px 1314px #FFF , 595px 39px #FFF , 498px 75px #FFF , 775px 1100px #FFF , 568px 1962px #FFF , 1048px 459px #FFF , 1344px 652px #FFF , 693px 1547px #FFF , 273px 383px #FFF , 1973px 1330px #FFF , 460px 882px #FFF , 1692px 1212px #FFF , 896px 718px #FFF , 422px 1694px #FFF , 408px 896px #FFF , 1134px 881px #FFF , 426px 1053px #FFF , 433px 852px #FFF , 1713px 1383px #FFF , 1620px 730px #FFF , 1184px 1317px #FFF , 689px 682px #FFF , 1258px 1926px #FFF , 1558px 288px #FFF , 55px 967px #FFF , 1733px 216px #FFF , 1306px 427px #FFF , 917px 1413px #FFF , 56px 1329px #FFF , 1226px 1059px #FFF , 242px 553px #FFF , 1631px 166px #FFF , 998px 1186px #FFF , 1038px 1566px #FFF , 353px 1222px #FFF , 387px 751px #FFF , 240px 1581px #FFF , 428px 1652px #FFF , 1162px 1973px #FFF , 1124px 89px #FFF , 376px 1363px #FFF , 1992px 1937px #FFF , 1655px 322px #FFF , 1029px 232px #FFF , 683px 1168px #FFF , 783px 1062px #FFF , 185px 16px #FFF , 680px 843px #FFF , 966px 1187px #FFF , 1558px 131px #FFF , 6px 161px #FFF , 1809px 123px #FFF , 59px 1112px #FFF , 654px 723px #FFF , 539px 1609px #FFF , 984px 540px #FFF , 371px 20px #FFF , 634px 196px #FFF , 372px 1610px #FFF , 126px 341px #FFF , 188px 1605px #FFF , 163px 810px #FFF , 1048px 1112px #FFF , 1337px 374px #FFF , 1733px 1964px #FFF , 768px 1198px #FFF , 176px 539px #FFF , 1190px 1099px #FFF , 1104px 1784px #FFF , 1903px 1627px #FFF , 1412px 214px #FFF , 351px 591px #FFF , 942px 1521px #FFF , 1208px 1973px #FFF , 281px 573px #FFF , 596px 1407px #FFF , 1982px 74px #FFF , 1022px 382px #FFF , 1982px 1189px #FFF , 28px 673px #FFF , 1065px 86px #FFF , 1699px 1407px #FFF , 381px 921px #FFF , 1283px 1094px #FFF , 908px 1567px #FFF , 259px 515px #FFF , 1677px 813px #FFF , 1919px 227px #FFF , 1262px 1703px #FFF , 837px 1318px #FFF , 1784px 1136px #FFF , 1425px 692px #FFF , 1868px 783px #FFF , 1767px 659px #FFF , 235px 1177px #FFF , 645px 760px #FFF , 446px 1570px #FFF , 207px 429px #FFF , 1070px 575px #FFF , 1944px 444px #FFF , 1650px 1591px #FFF , 1740px 632px #FFF , 235px 476px #FFF , 66px 403px #FFF , 35px 1559px #FFF , 1466px 894px #FFF , 1447px 910px #FFF , 1572px 267px #FFF , 1304px 1390px #FFF , 370px 1536px #FFF , 286px 1439px #FFF , 1032px 1464px #FFF , 925px 1550px #FFF , 116px 847px #FFF , 1545px 95px #FFF , 1059px 725px #FFF , 1942px 538px #FFF , 1932px 1384px #FFF , 441px 1121px #FFF , 109px 726px #FFF , 1524px 137px #FFF , 1131px 1735px #FFF , 1657px 912px #FFF , 1583px 1646px #FFF , 1118px 1744px #FFF , 1834px 1372px #FFF , 462px 512px #FFF , 1004px 1503px #FFF , 1520px 1786px #FFF , 897px 1839px #FFF , 1824px 1176px #FFF , 758px 668px #FFF , 1958px 1284px #FFF , 558px 583px #FFF , 1761px 89px #FFF , 930px 1467px #FFF , 719px 612px #FFF , 775px 1946px #FFF , 696px 1031px #FFF , 1482px 904px #FFF , 420px 1737px #FFF , 302px 668px #FFF , 1061px 810px #FFF , 1907px 955px #FFF , 884px 1148px #FFF , 253px 466px #FFF , 105px 1813px #FFF , 1324px 437px #FFF , 36px 1567px #FFF , 1602px 984px #FFF , 1995px 1473px #FFF , 1514px 841px #FFF , 1513px 855px #FFF , 1771px 1806px #FFF , 776px 1187px #FFF , 560px 353px #FFF , 880px 482px #FFF , 955px 1439px #FFF , 1682px 621px #FFF , 793px 259px #FFF , 1689px 920px #FFF , 929px 1229px #FFF , 653px 592px #FFF , 1855px 1598px #FFF , 196px 293px #FFF , 1276px 1914px #FFF , 1528px 1338px #FFF , 1153px 72px #FFF , 1936px 327px #FFF , 103px 1759px #FFF , 224px 1389px #FFF , 1793px 1797px #FFF , 84px 7px #FFF , 648px 1032px #FFF , 2000px 94px #FFF , 288px 1242px #FFF , 821px 868px #FFF , 1634px 1129px #FFF , 1077px 366px #FFF , 907px 1399px #FFF , 198px 1066px #FFF , 708px 1431px #FFF , 1600px 1547px #FFF , 690px 886px #FFF , 1141px 10px #FFF , 1695px 78px #FFF , 1404px 1299px #FFF , 661px 1622px #FFF , 1460px 1531px #FFF , 573px 421px #FFF , 871px 906px #FFF , 897px 414px #FFF , 1232px 234px #FFF , 208px 1225px #FFF , 526px 620px #FFF , 1344px 1700px #FFF , 1528px 551px #FFF , 1393px 1652px #FFF , 55px 704px #FFF , 1182px 273px #FFF , 1475px 653px #FFF , 550px 178px #FFF , 596px 251px #FFF , 1832px 1170px #FFF , 953px 631px #FFF , 1492px 63px #FFF , 702px 446px #FFF , 190px 141px #FFF , 1635px 103px #FFF , 498px 953px #FFF , 1763px 534px #FFF , 1679px 1134px #FFF , 1984px 1475px #FFF , 413px 534px #FFF , 1089px 1435px #FFF , 319px 940px #FFF , 898px 383px #FFF , 1415px 731px #FFF , 910px 1198px #FFF , 1192px 715px #FFF , 1769px 485px #FFF , 1817px 1372px #FFF , 634px 1939px #FFF , 676px 1084px #FFF , 1622px 291px #FFF , 256px 244px #FFF , 1663px 329px #FFF , 1360px 291px #FFF , 1697px 1139px #FFF , 927px 958px #FFF , 1294px 507px #FFF , 1757px 97px #FFF , 1819px 1438px #FFF , 1520px 1229px #FFF , 869px 1930px #FFF , 825px 1205px #FFF , 1197px 1365px #FFF , 238px 851px #FFF , 878px 1532px #FFF , 684px 1709px #FFF , 1486px 508px #FFF , 1958px 823px #FFF , 128px 1685px #FFF , 1620px 1422px #FFF , 385px 758px #FFF , 1754px 672px #FFF , 964px 1379px #FFF , 1712px 1345px #FFF , 296px 1077px #FFF , 1241px 1078px #FFF , 105px 1772px #FFF , 1728px 847px #FFF , 1335px 26px #FFF , 538px 584px #FFF , 1620px 31px #FFF , 1180px 1189px #FFF , 954px 1495px #FFF , 1342px 343px #FFF , 1192px 1046px #FFF , 519px 1547px #FFF , 1402px 1065px #FFF , 1945px 1506px #FFF , 1615px 857px #FFF , 819px 640px #FFF , 1562px 1465px #FFF , 1683px 215px #FFF , 321px 547px #FFF , 1632px 1684px #FFF , 927px 596px #FFF , 1728px 696px #FFF , 665px 1336px #FFF , 745px 91px #FFF , 1489px 936px #FFF , 966px 1504px #FFF , 289px 584px #FFF , 1187px 1210px #FFF , 492px 579px #FFF , 1421px 1557px #FFF , 1885px 1888px #FFF , 957px 1641px #FFF , 1308px 914px #FFF , 1290px 510px #FFF , 543px 558px #FFF , 285px 654px #FFF , 1248px 1595px #FFF , 159px 1636px #FFF , 267px 270px #FFF , 42px 1913px #FFF , 1192px 263px #FFF , 502px 264px #FFF , 1890px 1691px #FFF , 1278px 121px #FFF , 1528px 471px #FFF , 1148px 487px #FFF , 767px 1032px #FFF , 1050px 1929px #FFF , 267px 499px #FFF , 145px 1862px #FFF , 441px 603px #FFF , 957px 1717px #FFF , 1105px 1439px #FFF , 1533px 1201px #FFF , 1600px 1838px #FFF , 228px 1915px #FFF , 1625px 1864px #FFF , 583px 223px #FFF , 925px 1361px #FFF , 1587px 1156px #FFF , 1614px 611px #FFF , 401px 938px #FFF , 509px 1027px #FFF , 1454px 1057px #FFF , 743px 805px #FFF , 1001px 357px #FFF , 691px 213px #FFF , 557px 1269px #FFF , 1831px 1972px #FFF , 1002px 28px #FFF , 1405px 605px #FFF , 714px 1316px #FFF , 108px 1805px #FFF , 1434px 1750px #FFF , 760px 1856px #FFF , 687px 19px #FFF , 950px 403px #FFF , 622px 1980px #FFF , 934px 1143px #FFF , 500px 852px #FFF , 705px 1912px #FFF , 435px 182px #FFF , 1345px 909px #FFF , 1865px 995px #FFF , 497px 871px #FFF , 1963px 900px #FFF , 303px 1231px #FFF , 893px 903px #FFF , 1916px 323px #FFF , 1763px 87px #FFF , 1380px 1468px #FFF , 728px 665px #FFF , 1476px 1928px #FFF , 1245px 1766px #FFF , 1866px 1635px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1007px 1962px #FFF , 398px 1820px #FFF , 159px 1271px #FFF , 1428px 1868px #FFF , 264px 1855px #FFF , 1696px 1506px #FFF , 791px 1014px #FFF , 1163px 1592px #FFF , 1450px 1581px #FFF , 347px 1433px #FFF , 16px 163px #FFF , 261px 927px #FFF , 1710px 504px #FFF , 1454px 1250px #FFF , 289px 233px #FFF , 6px 1792px #FFF , 835px 295px #FFF , 68px 1079px #FFF , 427px 1882px #FFF , 556px 1661px #FFF , 1483px 1994px #FFF , 810px 831px #FFF , 1458px 456px #FFF , 319px 1287px #FFF , 1048px 614px #FFF , 362px 1758px #FFF , 1622px 431px #FFF , 887px 659px #FFF , 1635px 1043px #FFF , 1615px 979px #FFF , 870px 1972px #FFF , 1687px 906px #FFF , 682px 1023px #FFF , 598px 1150px #FFF , 1666px 1433px #FFF , 46px 1078px #FFF , 1414px 485px #FFF , 850px 365px #FFF , 1441px 1940px #FFF , 1557px 1103px #FFF , 558px 1928px #FFF , 1309px 1014px #FFF , 99px 1391px #FFF , 1411px 1874px #FFF , 205px 1836px #FFF , 1069px 1191px #FFF , 1644px 522px #FFF , 133px 1241px #FFF , 1702px 197px #FFF , 307px 500px #FFF , 888px 586px #FFF , 903px 361px #FFF , 1428px 1963px #FFF , 1529px 1255px #FFF , 64px 1496px #FFF , 939px 658px #FFF , 1935px 601px #FFF , 734px 1146px #FFF , 844px 576px #FFF , 409px 1905px #FFF , 1626px 1627px #FFF , 1525px 472px #FFF , 1656px 1337px #FFF , 685px 377px #FFF , 183px 1011px #FFF , 546px 848px #FFF , 939px 275px #FFF , 547px 1891px #FFF , 1711px 577px #FFF , 1072px 1676px #FFF , 1948px 1461px #FFF , 1390px 177px #FFF , 1968px 133px #FFF , 303px 929px #FFF , 1068px 1072px #FFF , 934px 547px #FFF , 215px 1561px #FFF , 1549px 542px #FFF , 1399px 1443px #FFF , 104px 220px #FFF , 683px 744px #FFF , 1031px 1970px #FFF , 1168px 495px #FFF , 1223px 440px #FFF , 114px 1166px #FFF , 586px 1903px #FFF , 825px 283px #FFF , 177px 1899px #FFF , 326px 777px #FFF , 1582px 1266px #FFF , 1886px 769px #FFF , 448px 851px #FFF , 1103px 155px #FFF , 1031px 1819px #FFF , 1866px 1482px #FFF , 1248px 1099px #FFF , 1691px 1062px #FFF , 125px 1866px #FFF , 1885px 218px #FFF , 460px 891px #FFF , 879px 184px #FFF , 309px 852px #FFF , 1841px 738px #FFF , 1442px 1679px #FFF , 629px 560px #FFF , 1785px 857px #FFF , 220px 560px #FFF , 1220px 291px #FFF , 1637px 88px #FFF , 183px 163px #FFF , 460px 1804px #FFF , 776px 1137px #FFF , 26px 937px #FFF , 956px 704px #FFF , 339px 966px #FFF , 412px 1422px #FFF , 301px 535px #FFF , 1728px 358px #FFF , 1262px 767px #FFF , 1158px 1972px #FFF , 1580px 1748px #FFF , 201px 547px #FFF , 355px 1317px #FFF , 1041px 680px #FFF , 1385px 844px #FFF , 784px 369px #FFF , 1193px 636px #FFF , 1172px 1769px #FFF , 1941px 1637px #FFF , 399px 1682px #FFF , 1963px 979px #FFF , 371px 168px #FFF , 783px 1798px #FFF , 535px 1211px #FFF , 1160px 780px #FFF , 1135px 1143px #FFF , 153px 668px #FFF , 627px 1474px #FFF , 845px 1002px #FFF , 1527px 1425px #FFF , 1944px 1859px #FFF , 1226px 1341px #FFF , 254px 728px #FFF , 1334px 403px #FFF , 382px 1050px #FFF , 493px 531px #FFF , 826px 1969px #FFF , 566px 260px #FFF , 1718px 1383px #FFF , 725px 102px #FFF , 63px 847px #FFF , 1964px 1005px #FFF , 669px 1554px #FFF , 1777px 1214px #FFF , 1059px 328px #FFF , 187px 838px #FFF , 384px 1866px #FFF , 757px 985px #FFF , 1354px 103px #FFF , 673px 541px #FFF , 711px 1610px #FFF , 401px 72px #FFF , 1388px 1601px #FFF , 1125px 1434px #FFF , 1015px 871px #FFF , 786px 859px #FFF , 1393px 1808px #FFF , 510px 1116px #FFF , 1020px 426px #FFF , 621px 275px #FFF , 257px 161px #FFF , 1598px 1670px #FFF , 481px 196px #FFF , 393px 701px #FFF , 455px 1598px #FFF , 374px 1710px #FFF , 1409px 1719px #FFF , 1889px 1532px #FFF , 1188px 1797px #FFF , 848px 1901px #FFF , 1940px 1234px #FFF , 608px 318px #FFF , 771px 379px #FFF , 273px 354px #FFF , 1645px 882px #FFF , 119px 1751px #FFF , 1930px 226px #FFF , 826px 1381px #FFF , 8px 1362px #FFF , 183px 260px #FFF , 1449px 1244px #FFF , 732px 1444px #FFF , 1874px 1871px #FFF , 1501px 1702px #FFF , 1565px 283px #FFF , 1991px 1363px #FFF , 176px 1528px #FFF , 838px 1883px #FFF , 557px 133px #FFF , 596px 512px #FFF , 977px 1673px #FFF , 1289px 133px #FFF , 1799px 1901px #FFF , 498px 1401px #FFF , 1342px 1544px #FFF , 1193px 1489px #FFF , 1805px 616px #FFF , 1881px 1146px #FFF , 769px 1136px #FFF , 1825px 1267px #FFF , 1560px 1884px #FFF , 266px 3px #FFF , 1443px 374px #FFF , 733px 926px #FFF , 275px 155px #FFF , 379px 985px #FFF , 1839px 641px #FFF , 595px 616px #FFF , 199px 1326px #FFF , 1081px 747px #FFF , 673px 1102px #FFF , 260px 710px #FFF , 1059px 1526px #FFF , 835px 1098px #FFF , 1785px 423px #FFF , 1533px 1459px #FFF , 241px 320px #FFF , 1064px 1814px #FFF , 664px 75px #FFF , 1555px 668px #FFF , 1629px 1034px #FFF , 1187px 683px #FFF , 1757px 1737px #FFF , 220px 1806px #FFF , 410px 1592px #FFF , 662px 671px #FFF , 1331px 125px #FFF , 775px 11px #FFF , 1792px 1729px #FFF , 1492px 1489px #FFF , 1073px 1175px #FFF , 1927px 1613px #FFF , 54px 873px #FFF , 1692px 744px #FFF , 963px 1959px #FFF , 1971px 1818px #FFF , 1832px 1416px #FFF , 1139px 1436px #FFF , 729px 1225px #FFF , 64px 743px #FFF , 429px 1559px #FFF , 1297px 470px #FFF , 1438px 1738px #FFF , 1828px 1791px #FFF , 1663px 1659px #FFF , 1410px 39px #FFF , 1552px 706px #FFF , 1130px 1494px #FFF , 33px 370px #FFF , 425px 1758px #FFF , 1799px 180px #FFF , 1780px 91px #FFF , 1804px 213px #FFF , 415px 1923px #FFF , 624px 1066px #FFF , 18px 934px #FFF , 1252px 361px #FFF , 543px 1210px #FFF , 953px 318px #FFF , 1644px 802px #FFF , 1614px 670px #FFF , 1195px 247px #FFF , 925px 826px #FFF , 1838px 1825px #FFF , 1466px 526px #FFF , 421px 273px #FFF , 788px 39px #FFF , 1959px 511px #FFF , 955px 674px #FFF , 34px 1341px #FFF , 17px 124px #FFF , 1417px 1638px #FFF , 610px 1390px #FFF , 1334px 1669px #FFF , 1992px 677px #FFF , 736px 206px #FFF , 1920px 469px #FFF , 454px 1410px #FFF , 666px 1782px #FFF , 58px 1192px #FFF , 1868px 759px #FFF , 1797px 460px #FFF , 379px 1210px #FFF , 328px 1695px #FFF , 1895px 661px #FFF , 1987px 250px #FFF , 1237px 132px #FFF , 1811px 183px #FFF , 1797px 767px #FFF , 1336px 447px #FFF , 189px 1811px #FFF , 1424px 617px #FFF , 1236px 260px #FFF , 91px 1045px #FFF , 198px 908px #FFF , 1575px 662px #FFF , 1591px 815px #FFF , 1690px 277px #FFF , 633px 921px #FFF , 1743px 1258px #FFF , 912px 967px #FFF , 859px 19px #FFF , 1768px 1664px #FFF , 1129px 1772px #FFF , 1575px 1114px #FFF , 1271px 1953px #FFF , 1605px 275px #FFF , 1563px 1246px #FFF , 1411px 1243px #FFF , 1394px 741px #FFF , 289px 625px #FFF , 1268px 1935px #FFF , 1566px 1752px #FFF , 1036px 1880px #FFF , 199px 1145px #FFF , 1856px 995px #FFF , 1588px 521px #FFF , 1525px 1636px #FFF , 1972px 591px #FFF , 751px 1406px #FFF , 1719px 874px #FFF , 111px 101px #FFF , 684px 1802px #FFF , 1861px 1002px #FFF , 111px 1757px #FFF , 6px 197px #FFF , 764px 1448px #FFF , 1920px 588px #FFF , 1249px 1862px #FFF , 812px 1518px #FFF , 1141px 1036px #FFF , 1066px 1695px #FFF , 1192px 1252px #FFF , 84px 67px #FFF , 563px 469px #FFF , 1993px 289px #FFF , 1550px 1125px #FFF , 1423px 1970px #FFF , 213px 1327px #FFF , 1084px 1188px #FFF , 1823px 1153px #FFF , 912px 1885px #FFF , 361px 1688px #FFF , 1943px 1237px #FFF , 560px 1210px #FFF , 1097px 1485px #FFF , 1239px 1932px #FFF , 254px 1314px #FFF , 595px 39px #FFF , 498px 75px #FFF , 775px 1100px #FFF , 568px 1962px #FFF , 1048px 459px #FFF , 1344px 652px #FFF , 693px 1547px #FFF , 273px 383px #FFF , 1973px 1330px #FFF , 460px 882px #FFF , 1692px 1212px #FFF , 896px 718px #FFF , 422px 1694px #FFF , 408px 896px #FFF , 1134px 881px #FFF , 426px 1053px #FFF , 433px 852px #FFF , 1713px 1383px #FFF , 1620px 730px #FFF , 1184px 1317px #FFF , 689px 682px #FFF , 1258px 1926px #FFF , 1558px 288px #FFF , 55px 967px #FFF , 1733px 216px #FFF , 1306px 427px #FFF , 917px 1413px #FFF , 56px 1329px #FFF , 1226px 1059px #FFF , 242px 553px #FFF , 1631px 166px #FFF , 998px 1186px #FFF , 1038px 1566px #FFF , 353px 1222px #FFF , 387px 751px #FFF , 240px 1581px #FFF , 428px 1652px #FFF , 1162px 1973px #FFF , 1124px 89px #FFF , 376px 1363px #FFF , 1992px 1937px #FFF , 1655px 322px #FFF , 1029px 232px #FFF , 683px 1168px #FFF , 783px 1062px #FFF , 185px 16px #FFF , 680px 843px #FFF , 966px 1187px #FFF , 1558px 131px #FFF , 6px 161px #FFF , 1809px 123px #FFF , 59px 1112px #FFF , 654px 723px #FFF , 539px 1609px #FFF , 984px 540px #FFF , 371px 20px #FFF , 634px 196px #FFF , 372px 1610px #FFF , 126px 341px #FFF , 188px 1605px #FFF , 163px 810px #FFF , 1048px 1112px #FFF , 1337px 374px #FFF , 1733px 1964px #FFF , 768px 1198px #FFF , 176px 539px #FFF , 1190px 1099px #FFF , 1104px 1784px #FFF , 1903px 1627px #FFF , 1412px 214px #FFF , 351px 591px #FFF , 942px 1521px #FFF , 1208px 1973px #FFF , 281px 573px #FFF , 596px 1407px #FFF , 1982px 74px #FFF , 1022px 382px #FFF , 1982px 1189px #FFF , 28px 673px #FFF , 1065px 86px #FFF , 1699px 1407px #FFF , 381px 921px #FFF , 1283px 1094px #FFF , 908px 1567px #FFF , 259px 515px #FFF , 1677px 813px #FFF , 1919px 227px #FFF , 1262px 1703px #FFF , 837px 1318px #FFF , 1784px 1136px #FFF , 1425px 692px #FFF , 1868px 783px #FFF , 1767px 659px #FFF , 235px 1177px #FFF , 645px 760px #FFF , 446px 1570px #FFF , 207px 429px #FFF , 1070px 575px #FFF , 1944px 444px #FFF , 1650px 1591px #FFF , 1740px 632px #FFF , 235px 476px #FFF , 66px 403px #FFF , 35px 1559px #FFF , 1466px 894px #FFF , 1447px 910px #FFF , 1572px 267px #FFF , 1304px 1390px #FFF , 370px 1536px #FFF , 286px 1439px #FFF , 1032px 1464px #FFF , 925px 1550px #FFF , 116px 847px #FFF , 1545px 95px #FFF , 1059px 725px #FFF , 1942px 538px #FFF , 1932px 1384px #FFF , 441px 1121px #FFF , 109px 726px #FFF , 1524px 137px #FFF , 1131px 1735px #FFF , 1657px 912px #FFF , 1583px 1646px #FFF , 1118px 1744px #FFF , 1834px 1372px #FFF , 462px 512px #FFF , 1004px 1503px #FFF , 1520px 1786px #FFF , 897px 1839px #FFF , 1824px 1176px #FFF , 758px 668px #FFF , 1958px 1284px #FFF , 558px 583px #FFF , 1761px 89px #FFF , 930px 1467px #FFF , 719px 612px #FFF , 775px 1946px #FFF , 696px 1031px #FFF , 1482px 904px #FFF , 420px 1737px #FFF , 302px 668px #FFF , 1061px 810px #FFF , 1907px 955px #FFF , 884px 1148px #FFF , 253px 466px #FFF , 105px 1813px #FFF , 1324px 437px #FFF , 36px 1567px #FFF , 1602px 984px #FFF , 1995px 1473px #FFF , 1514px 841px #FFF , 1513px 855px #FFF , 1771px 1806px #FFF , 776px 1187px #FFF , 560px 353px #FFF , 880px 482px #FFF , 955px 1439px #FFF , 1682px 621px #FFF , 793px 259px #FFF , 1689px 920px #FFF , 929px 1229px #FFF , 653px 592px #FFF , 1855px 1598px #FFF , 196px 293px #FFF , 1276px 1914px #FFF , 1528px 1338px #FFF , 1153px 72px #FFF , 1936px 327px #FFF , 103px 1759px #FFF , 224px 1389px #FFF , 1793px 1797px #FFF , 84px 7px #FFF , 648px 1032px #FFF , 2000px 94px #FFF , 288px 1242px #FFF , 821px 868px #FFF , 1634px 1129px #FFF , 1077px 366px #FFF , 907px 1399px #FFF , 198px 1066px #FFF , 708px 1431px #FFF , 1600px 1547px #FFF , 690px 886px #FFF , 1141px 10px #FFF , 1695px 78px #FFF , 1404px 1299px #FFF , 661px 1622px #FFF , 1460px 1531px #FFF , 573px 421px #FFF , 871px 906px #FFF , 897px 414px #FFF , 1232px 234px #FFF , 208px 1225px #FFF , 526px 620px #FFF , 1344px 1700px #FFF , 1528px 551px #FFF , 1393px 1652px #FFF , 55px 704px #FFF , 1182px 273px #FFF , 1475px 653px #FFF , 550px 178px #FFF , 596px 251px #FFF , 1832px 1170px #FFF , 953px 631px #FFF , 1492px 63px #FFF , 702px 446px #FFF , 190px 141px #FFF , 1635px 103px #FFF , 498px 953px #FFF , 1763px 534px #FFF , 1679px 1134px #FFF , 1984px 1475px #FFF , 413px 534px #FFF , 1089px 1435px #FFF , 319px 940px #FFF , 898px 383px #FFF , 1415px 731px #FFF , 910px 1198px #FFF , 1192px 715px #FFF , 1769px 485px #FFF , 1817px 1372px #FFF , 634px 1939px #FFF , 676px 1084px #FFF , 1622px 291px #FFF , 256px 244px #FFF , 1663px 329px #FFF , 1360px 291px #FFF , 1697px 1139px #FFF , 927px 958px #FFF , 1294px 507px #FFF , 1757px 97px #FFF , 1819px 1438px #FFF , 1520px 1229px #FFF , 869px 1930px #FFF , 825px 1205px #FFF , 1197px 1365px #FFF , 238px 851px #FFF , 878px 1532px #FFF , 684px 1709px #FFF , 1486px 508px #FFF , 1958px 823px #FFF , 128px 1685px #FFF , 1620px 1422px #FFF , 385px 758px #FFF , 1754px 672px #FFF , 964px 1379px #FFF , 1712px 1345px #FFF , 296px 1077px #FFF , 1241px 1078px #FFF , 105px 1772px #FFF , 1728px 847px #FFF , 1335px 26px #FFF , 538px 584px #FFF , 1620px 31px #FFF , 1180px 1189px #FFF , 954px 1495px #FFF , 1342px 343px #FFF , 1192px 1046px #FFF , 519px 1547px #FFF , 1402px 1065px #FFF , 1945px 1506px #FFF , 1615px 857px #FFF , 819px 640px #FFF , 1562px 1465px #FFF , 1683px 215px #FFF , 321px 547px #FFF , 1632px 1684px #FFF , 927px 596px #FFF , 1728px 696px #FFF , 665px 1336px #FFF , 745px 91px #FFF , 1489px 936px #FFF , 966px 1504px #FFF , 289px 584px #FFF , 1187px 1210px #FFF , 492px 579px #FFF , 1421px 1557px #FFF , 1885px 1888px #FFF , 957px 1641px #FFF , 1308px 914px #FFF , 1290px 510px #FFF , 543px 558px #FFF , 285px 654px #FFF , 1248px 1595px #FFF , 159px 1636px #FFF , 267px 270px #FFF , 42px 1913px #FFF , 1192px 263px #FFF , 502px 264px #FFF , 1890px 1691px #FFF , 1278px 121px #FFF , 1528px 471px #FFF , 1148px 487px #FFF , 767px 1032px #FFF , 1050px 1929px #FFF , 267px 499px #FFF , 145px 1862px #FFF , 441px 603px #FFF , 957px 1717px #FFF , 1105px 1439px #FFF , 1533px 1201px #FFF , 1600px 1838px #FFF , 228px 1915px #FFF , 1625px 1864px #FFF , 583px 223px #FFF , 925px 1361px #FFF , 1587px 1156px #FFF , 1614px 611px #FFF , 401px 938px #FFF , 509px 1027px #FFF , 1454px 1057px #FFF , 743px 805px #FFF , 1001px 357px #FFF , 691px 213px #FFF , 557px 1269px #FFF , 1831px 1972px #FFF , 1002px 28px #FFF , 1405px 605px #FFF , 714px 1316px #FFF , 108px 1805px #FFF , 1434px 1750px #FFF , 760px 1856px #FFF , 687px 19px #FFF , 950px 403px #FFF , 622px 1980px #FFF , 934px 1143px #FFF , 500px 852px #FFF , 705px 1912px #FFF , 435px 182px #FFF , 1345px 909px #FFF , 1865px 995px #FFF , 497px 871px #FFF , 1963px 900px #FFF , 303px 1231px #FFF , 893px 903px #FFF , 1916px 323px #FFF , 1763px 87px #FFF , 1380px 1468px #FFF , 728px 665px #FFF , 1476px 1928px #FFF , 1245px 1766px #FFF , 1866px 1635px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1894px 1736px #FFF , 337px 387px #FFF , 1773px 1410px #FFF , 1102px 1668px #FFF , 1130px 662px #FFF , 1633px 1386px #FFF , 709px 1002px #FFF , 83px 164px #FFF , 443px 1733px #FFF , 1983px 1320px #FFF , 855px 315px #FFF , 1545px 1147px #FFF , 138px 114px #FFF , 969px 1934px #FFF , 1405px 1179px #FFF , 1833px 1760px #FFF , 1369px 1227px #FFF , 1635px 1795px #FFF , 1894px 94px #FFF , 1175px 1938px #FFF , 1651px 1415px #FFF , 1508px 49px #FFF , 1473px 174px #FFF , 1156px 1786px #FFF , 1432px 760px #FFF , 1638px 300px #FFF , 1083px 868px #FFF , 403px 1168px #FFF , 5px 61px #FFF , 1508px 21px #FFF , 343px 1094px #FFF , 1902px 12px #FFF , 1739px 1239px #FFF , 89px 976px #FFF , 639px 180px #FFF , 1963px 116px #FFF , 660px 1811px #FFF , 650px 1379px #FFF , 1230px 213px #FFF , 922px 292px #FFF , 1916px 273px #FFF , 946px 839px #FFF , 1212px 427px #FFF , 984px 382px #FFF , 1099px 202px #FFF , 1915px 922px #FFF , 957px 1266px #FFF , 1329px 309px #FFF , 1051px 421px #FFF , 786px 1610px #FFF , 1175px 347px #FFF , 615px 808px #FFF , 775px 680px #FFF , 1543px 348px #FFF , 1738px 1170px #FFF , 1811px 441px #FFF , 1486px 920px #FFF , 530px 386px #FFF , 709px 994px #FFF , 1449px 121px #FFF , 378px 107px #FFF , 1010px 1411px #FFF , 1606px 1831px #FFF , 1565px 180px #FFF , 28px 1294px #FFF , 830px 496px #FFF , 290px 118px #FFF , 489px 248px #FFF , 1585px 1556px #FFF , 141px 294px #FFF , 909px 1253px #FFF , 149px 772px #FFF , 799px 1887px #FFF , 1611px 518px #FFF , 1140px 67px #FFF , 723px 183px #FFF , 1451px 763px #FFF , 1181px 604px #FFF , 637px 1798px #FFF , 1853px 1738px #FFF , 837px 942px #FFF , 1833px 648px #FFF , 910px 1712px #FFF , 1721px 1304px #FFF , 1898px 5px #FFF , 534px 1164px #FFF , 506px 1286px #FFF , 1657px 1862px #FFF , 744px 229px #FFF , 721px 357px #FFF , 153px 1704px #FFF , 883px 367px #FFF , 1732px 1261px #FFF , 181px 1159px #FFF , 279px 1288px #FFF , 75px 771px #FFF , 375px 36px #FFF , 1527px 978px #FFF , 1019px 836px #FFF , 1339px 992px #FFF , 647px 301px #FFF , 844px 315px #FFF , 134px 1629px #FFF , 1083px 1965px #FFF , 64px 1432px #FFF , 1198px 136px #FFF , 1968px 908px #FFF , 24px 286px #FFF , 1264px 1361px #FFF , 370px 549px #FFF , 738px 1598px #FFF , 285px 370px #FFF , 165px 1491px #FFF , 1340px 1737px #FFF , 1027px 842px #FFF , 1877px 1778px #FFF , 456px 150px #FFF , 893px 1341px #FFF , 154px 1178px #FFF , 459px 917px #FFF , 1384px 1797px #FFF , 1159px 1592px #FFF , 1625px 217px #FFF , 830px 1843px #FFF , 1303px 678px #FFF , 1424px 1359px #FFF , 155px 651px #FFF , 1121px 429px #FFF , 1881px 967px #FFF , 1237px 316px #FFF , 1236px 488px #FFF , 206px 1938px #FFF , 214px 504px #FFF , 578px 1006px #FFF , 1332px 83px #FFF , 707px 292px #FFF , 1812px 1602px #FFF , 1502px 1504px #FFF , 6px 812px #FFF , 59px 1739px #FFF , 1148px 1120px #FFF , 1610px 1652px #FFF , 1611px 600px #FFF , 58px 1733px #FFF , 1334px 1214px #FFF , 781px 34px #FFF , 1111px 168px #FFF , 1292px 791px #FFF , 77px 1372px #FFF , 1715px 719px #FFF , 1082px 859px #FFF , 1822px 1051px #FFF , 1143px 386px #FFF , 1079px 1155px #FFF , 297px 543px #FFF , 1055px 1534px #FFF , 1951px 1103px #FFF , 1729px 970px #FFF , 688px 1699px #FFF , 847px 1821px #FFF , 1253px 612px #FFF , 1987px 686px #FFF , 705px 860px #FFF , 882px 1768px #FFF , 1458px 545px #FFF , 186px 311px #FFF , 1084px 768px #FFF , 708px 853px #FFF , 962px 1837px #FFF , 1045px 1433px #FFF , 1079px 1860px #FFF , 1441px 1409px #FFF , 1896px 626px #FFF , 558px 1494px #FFF , 394px 740px #FFF , 808px 493px #FFF , 1017px 650px #FFF , 255px 1178px #FFF , 762px 393px #FFF , 1713px 1187px #FFF , 1700px 1198px #FFF , 1056px 330px #FFF , 765px 1288px #FFF , 1551px 989px #FFF , 484px 368px #FFF , 1804px 1132px #FFF , 1902px 898px #FFF , 696px 252px #FFF , 961px 393px #FFF , 1360px 601px #FFF , 921px 1227px #FFF , 875px 450px #FFF , 1391px 823px #FFF , 1874px 1690px #FFF , 1621px 1867px #FFF , 1943px 92px #FFF , 1478px 1977px #FFF , 1633px 92px #FFF , 1285px 1599px #FFF , 833px 452px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1894px 1736px #FFF , 337px 387px #FFF , 1773px 1410px #FFF , 1102px 1668px #FFF , 1130px 662px #FFF , 1633px 1386px #FFF , 709px 1002px #FFF , 83px 164px #FFF , 443px 1733px #FFF , 1983px 1320px #FFF , 855px 315px #FFF , 1545px 1147px #FFF , 138px 114px #FFF , 969px 1934px #FFF , 1405px 1179px #FFF , 1833px 1760px #FFF , 1369px 1227px #FFF , 1635px 1795px #FFF , 1894px 94px #FFF , 1175px 1938px #FFF , 1651px 1415px #FFF , 1508px 49px #FFF , 1473px 174px #FFF , 1156px 1786px #FFF , 1432px 760px #FFF , 1638px 300px #FFF , 1083px 868px #FFF , 403px 1168px #FFF , 5px 61px #FFF , 1508px 21px #FFF , 343px 1094px #FFF , 1902px 12px #FFF , 1739px 1239px #FFF , 89px 976px #FFF , 639px 180px #FFF , 1963px 116px #FFF , 660px 1811px #FFF , 650px 1379px #FFF , 1230px 213px #FFF , 922px 292px #FFF , 1916px 273px #FFF , 946px 839px #FFF , 1212px 427px #FFF , 984px 382px #FFF , 1099px 202px #FFF , 1915px 922px #FFF , 957px 1266px #FFF , 1329px 309px #FFF , 1051px 421px #FFF , 786px 1610px #FFF , 1175px 347px #FFF , 615px 808px #FFF , 775px 680px #FFF , 1543px 348px #FFF , 1738px 1170px #FFF , 1811px 441px #FFF , 1486px 920px #FFF , 530px 386px #FFF , 709px 994px #FFF , 1449px 121px #FFF , 378px 107px #FFF , 1010px 1411px #FFF , 1606px 1831px #FFF , 1565px 180px #FFF , 28px 1294px #FFF , 830px 496px #FFF , 290px 118px #FFF , 489px 248px #FFF , 1585px 1556px #FFF , 141px 294px #FFF , 909px 1253px #FFF , 149px 772px #FFF , 799px 1887px #FFF , 1611px 518px #FFF , 1140px 67px #FFF , 723px 183px #FFF , 1451px 763px #FFF , 1181px 604px #FFF , 637px 1798px #FFF , 1853px 1738px #FFF , 837px 942px #FFF , 1833px 648px #FFF , 910px 1712px #FFF , 1721px 1304px #FFF , 1898px 5px #FFF , 534px 1164px #FFF , 506px 1286px #FFF , 1657px 1862px #FFF , 744px 229px #FFF , 721px 357px #FFF , 153px 1704px #FFF , 883px 367px #FFF , 1732px 1261px #FFF , 181px 1159px #FFF , 279px 1288px #FFF , 75px 771px #FFF , 375px 36px #FFF , 1527px 978px #FFF , 1019px 836px #FFF , 1339px 992px #FFF , 647px 301px #FFF , 844px 315px #FFF , 134px 1629px #FFF , 1083px 1965px #FFF , 64px 1432px #FFF , 1198px 136px #FFF , 1968px 908px #FFF , 24px 286px #FFF , 1264px 1361px #FFF , 370px 549px #FFF , 738px 1598px #FFF , 285px 370px #FFF , 165px 1491px #FFF , 1340px 1737px #FFF , 1027px 842px #FFF , 1877px 1778px #FFF , 456px 150px #FFF , 893px 1341px #FFF , 154px 1178px #FFF , 459px 917px #FFF , 1384px 1797px #FFF , 1159px 1592px #FFF , 1625px 217px #FFF , 830px 1843px #FFF , 1303px 678px #FFF , 1424px 1359px #FFF , 155px 651px #FFF , 1121px 429px #FFF , 1881px 967px #FFF , 1237px 316px #FFF , 1236px 488px #FFF , 206px 1938px #FFF , 214px 504px #FFF , 578px 1006px #FFF , 1332px 83px #FFF , 707px 292px #FFF , 1812px 1602px #FFF , 1502px 1504px #FFF , 6px 812px #FFF , 59px 1739px #FFF , 1148px 1120px #FFF , 1610px 1652px #FFF , 1611px 600px #FFF , 58px 1733px #FFF , 1334px 1214px #FFF , 781px 34px #FFF , 1111px 168px #FFF , 1292px 791px #FFF , 77px 1372px #FFF , 1715px 719px #FFF , 1082px 859px #FFF , 1822px 1051px #FFF , 1143px 386px #FFF , 1079px 1155px #FFF , 297px 543px #FFF , 1055px 1534px #FFF , 1951px 1103px #FFF , 1729px 970px #FFF , 688px 1699px #FFF , 847px 1821px #FFF , 1253px 612px #FFF , 1987px 686px #FFF , 705px 860px #FFF , 882px 1768px #FFF , 1458px 545px #FFF , 186px 311px #FFF , 1084px 768px #FFF , 708px 853px #FFF , 962px 1837px #FFF , 1045px 1433px #FFF , 1079px 1860px #FFF , 1441px 1409px #FFF , 1896px 626px #FFF , 558px 1494px #FFF , 394px 740px #FFF , 808px 493px #FFF , 1017px 650px #FFF , 255px 1178px #FFF , 762px 393px #FFF , 1713px 1187px #FFF , 1700px 1198px #FFF , 1056px 330px #FFF , 765px 1288px #FFF , 1551px 989px #FFF , 484px 368px #FFF , 1804px 1132px #FFF , 1902px 898px #FFF , 696px 252px #FFF , 961px 393px #FFF , 1360px 601px #FFF , 921px 1227px #FFF , 875px 450px #FFF , 1391px 823px #FFF , 1874px 1690px #FFF , 1621px 1867px #FFF , 1943px 92px #FFF , 1478px 1977px #FFF , 1633px 92px #FFF , 1285px 1599px #FFF , 833px 452px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1139px 1149px #FFF , 142px 1391px #FFF , 1918px 1280px #FFF , 1361px 1216px #FFF , 777px 1135px #FFF , 348px 1964px #FFF , 1131px 503px #FFF , 1800px 1155px #FFF , 377px 829px #FFF , 1265px 1151px #FFF , 297px 604px #FFF , 71px 135px #FFF , 122px 1304px #FFF , 334px 1877px #FFF , 517px 847px #FFF , 1093px 1014px #FFF , 1079px 1184px #FFF , 101px 156px #FFF , 1888px 647px #FFF , 1296px 1600px #FFF , 1672px 1023px #FFF , 820px 1697px #FFF , 62px 255px #FFF , 289px 332px #FFF , 1873px 296px #FFF , 50px 85px #FFF , 1382px 1640px #FFF , 1767px 1058px #FFF , 1815px 440px #FFF , 1730px 1263px #FFF , 1020px 323px #FFF , 634px 428px #FFF , 806px 549px #FFF , 778px 4px #FFF , 24px 1152px #FFF , 1403px 945px #FFF , 1746px 628px #FFF , 723px 572px #FFF , 1568px 411px #FFF , 963px 1814px #FFF , 1278px 1794px #FFF , 229px 1485px #FFF , 944px 243px #FFF , 1637px 100px #FFF , 1738px 764px #FFF , 173px 865px #FFF , 1458px 983px #FFF , 29px 1821px #FFF , 253px 525px #FFF , 1021px 868px #FFF , 179px 1133px #FFF , 1976px 1533px #FFF , 1505px 1621px #FFF , 1573px 332px #FFF , 926px 527px #FFF , 825px 1640px #FFF , 273px 516px #FFF , 740px 409px #FFF , 1643px 983px #FFF , 1907px 903px #FFF , 452px 1311px #FFF , 1672px 1727px #FFF , 1165px 1422px #FFF , 1754px 777px #FFF , 1618px 1684px #FFF , 1661px 608px #FFF , 325px 309px #FFF , 595px 282px #FFF , 1717px 346px #FFF , 519px 1080px #FFF , 1117px 820px #FFF , 1900px 873px #FFF , 1981px 506px #FFF , 1497px 384px #FFF , 74px 91px #FFF , 34px 1286px #FFF , 1329px 1356px #FFF , 701px 899px #FFF , 187px 691px #FFF , 104px 1389px #FFF , 55px 495px #FFF , 209px 1192px #FFF , 1849px 1023px #FFF , 1835px 60px #FFF , 85px 1010px #FFF , 1995px 1402px #FFF , 375px 1645px #FFF , 596px 1791px #FFF , 1317px 1862px #FFF , 676px 1112px #FFF , 996px 959px #FFF , 575px 154px #FFF , 1091px 1237px #FFF , 766px 1862px #FFF , 585px 655px #FFF , 360px 628px #FFF , 166px 1889px #FFF , 251px 370px #FFF , 1822px 1319px #FFF , 1774px 141px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1139px 1149px #FFF , 142px 1391px #FFF , 1918px 1280px #FFF , 1361px 1216px #FFF , 777px 1135px #FFF , 348px 1964px #FFF , 1131px 503px #FFF , 1800px 1155px #FFF , 377px 829px #FFF , 1265px 1151px #FFF , 297px 604px #FFF , 71px 135px #FFF , 122px 1304px #FFF , 334px 1877px #FFF , 517px 847px #FFF , 1093px 1014px #FFF , 1079px 1184px #FFF , 101px 156px #FFF , 1888px 647px #FFF , 1296px 1600px #FFF , 1672px 1023px #FFF , 820px 1697px #FFF , 62px 255px #FFF , 289px 332px #FFF , 1873px 296px #FFF , 50px 85px #FFF , 1382px 1640px #FFF , 1767px 1058px #FFF , 1815px 440px #FFF , 1730px 1263px #FFF , 1020px 323px #FFF , 634px 428px #FFF , 806px 549px #FFF , 778px 4px #FFF , 24px 1152px #FFF , 1403px 945px #FFF , 1746px 628px #FFF , 723px 572px #FFF , 1568px 411px #FFF , 963px 1814px #FFF , 1278px 1794px #FFF , 229px 1485px #FFF , 944px 243px #FFF , 1637px 100px #FFF , 1738px 764px #FFF , 173px 865px #FFF , 1458px 983px #FFF , 29px 1821px #FFF , 253px 525px #FFF , 1021px 868px #FFF , 179px 1133px #FFF , 1976px 1533px #FFF , 1505px 1621px #FFF , 1573px 332px #FFF , 926px 527px #FFF , 825px 1640px #FFF , 273px 516px #FFF , 740px 409px #FFF , 1643px 983px #FFF , 1907px 903px #FFF , 452px 1311px #FFF , 1672px 1727px #FFF , 1165px 1422px #FFF , 1754px 777px #FFF , 1618px 1684px #FFF , 1661px 608px #FFF , 325px 309px #FFF , 595px 282px #FFF , 1717px 346px #FFF , 519px 1080px #FFF , 1117px 820px #FFF , 1900px 873px #FFF , 1981px 506px #FFF , 1497px 384px #FFF , 74px 91px #FFF , 34px 1286px #FFF , 1329px 1356px #FFF , 701px 899px #FFF , 187px 691px #FFF , 104px 1389px #FFF , 55px 495px #FFF , 209px 1192px #FFF , 1849px 1023px #FFF , 1835px 60px #FFF , 85px 1010px #FFF , 1995px 1402px #FFF , 375px 1645px #FFF , 596px 1791px #FFF , 1317px 1862px #FFF , 676px 1112px #FFF , 996px 959px #FFF , 575px 154px #FFF , 1091px 1237px #FFF , 766px 1862px #FFF , 585px 655px #FFF , 360px 628px #FFF , 166px 1889px #FFF , 251px 370px #FFF , 1822px 1319px #FFF , 1774px 141px #FFF;
}

#title {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
}
#title span {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-3000px);
  }
}
